* {
	margin: 0;
	padding: 0;
}

body {
    font: $main-font;
    background-color: $main-bg-color;
}

h1 {
	font-family: 'Dancing script', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 60px;
	color: white;
	opacity: 90%;
	text-align: center;
}

h2 {
	font-weight: 900;
	font-size: 35px;
	margin: 10px;
	color: #fc7fb2;
	opacity: 80%;
}

h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: gray;
	opacity: 70%;
	margin: 10px 0 5px 0;
}

p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 2px;
	color: gray;
}


.container {
	margin: 0 auto;
	width: 480px;
	text-align: center;
	color: gray;
}