* {
	margin: 0;
	padding: 0;
}

body {
    font: $main-font;
    background-color: $main-bg-color;
}

main {
	padding: 20px;
}

ul {
	list-style-type: none;
	/*padding-top: 22px;*/
}

#catchcopy {
	font-size: 70px;
	font-family: 'Dancing Script', cursive;
	margin: 100px 40px;
	text-align: center;
}

#mainCon {
	width: 80%;
	text-align: center;
}


#title {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 80px;
	color: #656565;
	margin: 100px 40px;
    text-align: center;
}

#discription {
	font-size: 10px;
	line-height: 14px;
	color: #808080;
	margin-top: 20px;
}


.introvideo {
	width: 100%;

	.mainvideo {
		width: 100%;
	}
}
