* {
	margin: 0;
	padding: 0;
}

body {
    font: $main-font;
	background-color: $main-bg-color;
	color: $main-text-color;

}

main {
	padding: 20px;
	font-family: 'Helvetica', sans-serif;
	color: #656565;
}

ul {
	list-style-type: none;
	/*padding-top: 22px;*/
}

h2 {
	font-weight: lighter;
	padding: 0 0 10px 0;
}

.container {
	margin: 0 auto;
	height: 100vh;
	text-align: center;
	align-items: center;
	color: #656565;

	img {
		width: 50%;
		padding: 80px 0 50px 0;
	}

	p {
		line-height: 1.4rem;
	}
}


//  opening page ---------------------------

.readbutton {
    padding: 10px 20px;
	margin-top: 40px;
	margin-bottom: 10px;
    border: none;
    font-size: 16px;
    display: inline-block; 
    border: #FF6666 1px solid;
    border-radius: 10px;
    color: #FF6666;
    cursor: pointer; 
    text-decoration: none;
    background: none;

    &:hover { 
		background-color: #B3B2B2;
		border: none;
        color: white;
    }

    a:link, a:visited {
        text-decoration: none;
      }
}

// main page ------------------------------

#pagetitle {
	font-family: 'Dancing Script', sans-serif;
	font-size: 40px;
	margin: 60px 20px 20px 20px;
	text-align: center;
}

#mainCon {
	height: 100vh;
	text-align: center;
}

.introduction {
	width: 70%;
	line-height: 1rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.nametitle {
	font-family: 'Dancing Script', sans-serif;
	font-size: 80px;
	color: #656565;
	margin: 50px 40px;
	text-align: center;
	
	img {
		width: 30%;
		padding-top: 80px;
	}
}

#discription {
	font-size: 10px;
	line-height: 14px;
	color: #808080;
	margin-top: 20px;
}


.introvideo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.mainvideo {
		width: 100%;
	}
}

//  portfolio (lightbox) --------------------

.gallary {
	width: 100%;
	margin: 0;
	padding: 30px;
	text-align: center;
}

.lightbox {
	width: 90%;
	height: 90%;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
    background-color: #B3B2B2;
	padding: 40px;

    span {
		padding: 5px 10px;
		margin: 10px 0;
		border: #656565 1px solid;
		border-radius: 5px;
		font-weight: bold;
        cursor: pointer;
	}
	
	video {
		width: 80%;
	}

	h1 {
		font-family: 'Dancing Script', sans-serif;
		padding: 5px 0;
	}

	img {
		position: relative;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 700px;	
	}
}

.show-lightbox {
    display: block;
}

.button-wrapper {
	display: inline-block;
	margin: 20px 12px;
	text-align: center;
	cursor: pointer;

    img { 
        width: 150px; max-width: 100%; 
	}
	
	h4 {
		font-family: 'Dancing Script', sans-serif;
	}
}

.video-player {
	h2 {
		font-family: 'Dancing Script', sans-serif;
	}
}

.web-player {
	h2 {
		font-family: 'Dancing Script', sans-serif;
	}

}


