.mainheader {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: white;
}

.logoHeader {
    float: left;
    text-align: center;  
	width: 50px;
	height: auto;
	margin: 10px 0px 0px 20px;
}

#mainNav ul li a {
	font-size: 16px;
    margin-top: 10px;
	padding: 0 5px;
}

nav { 
    margin: 0;
    float: right;    
    .nav-item { 
        margin-top: 10px;
        margin-right: 20px;
        height: 60px;
        font-family:"Dancing Script", sans-serif;
        display: inline-block; 

        a { 
            text-decoration: none; 
            display: block;
            color: #656565;
            font-size: 20px;
            cursor: pointer;

            &.active {
                color: #FF6666;
            }

            &:hover {
                opacity: 50%;
            }
        }
    }
}